.navbar-default {
  border: none;
}
.carousel {
  padding-right: 30px;
  padding-left: 0px;
}
.customCursorArrow {
   cursor: url(../images/cursor2.cur), auto;
}
.customCursorQuestion {
   cursor: url(../images/cursorQ.cur), auto;
}
::selection {
  background: white; /* WebKit/Blink Browsers */
  color: blue;
}
#landingPage .row {
  margin-left: 3.15em;
  margin-right: 3.15em;
}
#resume .row {
  margin-left: 3.15em;
  margin-right: 3.15em;
}
#projectPage .row {
  margin-left: 3.15em;
  margin-right: 3.15em;
}
#listViewPage .row {
  margin-left: 3.15em;
  margin-right: 3.15em;
}

#slidetext1, #slidetext2, #slidetext3, #slidetext4,
#slidetext5, #slidetext6, #slidetext7, #slidetext8,
#slidetext9, #slidetext10 {
  float: right;
  padding-right: 30px;
}
#leftGlyph {
  opacity: 0;
}
#leftGlyph:hover {
  opacity: 1;
}
#rightGlyph {
  opacity: 0;
  margin-right: 30px;
  width: 100%;
}
#spacerHalf {
  padding:.05em;
}
#spacer {
  padding: 1em;
}
#spaceOneHalf {
  padding: 1.5em;
}
#spacer2 {
  padding: 2em;
}
#name {
  position: fixed;
  background-color: white;
  z-index: 10;
  padding-top: 1em;
  padding-right: 5em;
  padding-bottom: .5em;
  padding-left: 1em;
  margin: -1em;
  top: 1em;
  font-size: 4em;
}
#name a {
  text-decoration: none;
  color: #333;
}
#questionMarkImage1, #questionMarkImage2, #questionMarkImage3, #questionMarkImage4,
#questionMarkImage5, #questionMarkImage6, #questionMarkImage7, #questionMarkImage8,
#questionMarkImage9, #questionMarkImage10 {
  position: absolute;
  left: 15em;
  top: -2em;
  width: 100px;
  z-index: 10;
  border:0;
  visibility: hidden;
  padding: 10px;
}
#imageProject1, #imageProject2, #imageProject3, #imageProject4, #imageProject5,
#imageProject6, #imageProject7, #imageProject8, #imageProject9, #imageProject10,
#imageProject1, #imageProject12, #imageProject13, #imageProject14, #imageProject15,
#imageProject16, #imageProject17, #imageProject18, #imageProject19 {
  z-index: 1;
}
#line h1:hover {
  z-index: 100;
}
#project h3 {
  margin-top: 0em;
}

#project a {
  color: #333;
}
#project a:hover {
  color: #333;
  text-decoration: underline;;
}

#listView {
  position: fixed;
  background-color: white;
  z-index: 10;
  padding-top: 1em;
  padding-right: 7em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin: -1em;
  bottom: 1em;
  font-style: italic;
  font-size: 4em;
}
#landingPage #desc h1 {
  margin-top: 0px;
  max-width: 9.6em;
  position: fixed;
  line-height: 1.15;
  font-size: 4em;
  padding-top: 1em;

}
#projectPage #desc h1 {
  margin-top: 0px;
  max-width: 9.6em;
  position: fixed;
  line-height: 1.15;
  font-size: 4em;
  padding-top: 0em;
}
#listView a {
  color: #333;
  font-style: italic;
  text-decoration: none;
}
#listView a:hover {
  text-decoration: underline;
  font-style: normal;
}
#desc span {
  color: #333;
  font-style: italic;
}
#desc span:hover {
  font-style: normal;
  text-decoration: underline;
}
#desc a {
  color: #333;
  text-decoration: none;
}
#number {
  position: fixed;
  background-color: white;
  z-index: 10;
  padding: 1em 15em 0.5em 1em;
  margin: -1em;
  top: 1em;
  font-size: 4em;
}
#email {
  position: fixed;
  background-color: white;
  z-index: 10;
  padding: 1em 1em 0.5em 1em;
  margin: -1em;
  top: 1em;
  font-size: 4em;
}
#back {
  position: fixed;
  background-color: white;
  z-index: 10;
  padding: 1em 7em 1em 1em;
  margin: -1em;
  bottom: 1em;
  font-style: italic;
  font-size: 4em;
}
#back a {
  color: #333;
}
#back a:hover {
  text-decoration: underline;
  font-style: normal;
}
#resumeBody h1 {
  font-size: 4em;
  line-height: 1.2em;
}
#resumeBody h1 sup {
  color: blue;
  font-size: 65%;
}
p {
  line-height: 1;
}
#refs {
  position: relative;
  top: -3em;
}
#bottomTitles {
  text-transform: capitalize;
  text-indent: 2em;
}
#line a {
  text-decoration: none;
  color: #333;
}
#line h1 {
  margin-top: 0em;
  font-size: 4em;
}
#line a:hover {
  color: blue;
  font-style: italic;
}
#line img {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 42%;
  border:0;
  visibility: hidden;
/*  opacity: 0;*/
}
#imageView {
  position: fixed;
  background-color: white;
  z-index: 10;
  padding-top: .25em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin: -1em;
  bottom: 1em;
  font-style: italic;
  font-size: 4em;
}
#imageView a {
  color: #333;
  font-style: italic;
  text-decoration: none;
}
#imageView a:hover {
  font-style: normal;;
  text-decoration: underline;;
}

#mainImageFooter {
  padding-left: 0px;
  padding-right: 0px;
}
#mainImageFooter p {
  max-width: 16em;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #333 -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
#previous a {
  color: #333;
  text-decoration: none;
  font-style: italic;
  position: fixed;
  bottom: 5em;
  background-color: white;
  z-index: 99;
  bottom: 3em;
  opacity: 1;
}
#next a {
 color: #333;
 text-decoration: none;
 font-style: italic;
 position: fixed;
 bottom: 5em;
 background-color: white;
 z-index: 99;
 bottom: 3em;
 opacity: 1;
 width: 20%;
}
#previous a:hover, #next a:hover{
  color: #333;
  text-decoration: underline;;
  font-style: normal;
}
#previous h1, #next h1 {
  font-size: 4em;
}
#nameListView{
  position: fixed;
  background-color: white;
  z-index: 10;
  padding-top: 1em;
  padding-right: 0em;
  padding-bottom: .25em;
  padding-left: 1em;
  margin: -1em;
  top: 1em;
  font-size: 4em;
}
#nameListView a {
  color: #333;
  text-decoration: none;
}
#nameListView a:hover {
  color: #333;
  text-decoration: none;
}
#contactListView h1 {
  position: fixed;
  background-color: white;
  z-index: 10;
  line-height: 1.15;
  padding-top: 2em;
  padding-bottom: 0em;
  padding-left: 0em;
  margin-top: -1em;
  margin-bottom: 0em;
  top: 0em;
  font-size: 4em;
}
#textBox h3 {
  border-style: solid;
  border-color: black;
  border: 1px;
}


@media only screen and (max-width: 1250px) {
  #name {
    padding-right: 0.7em;
    font-size: 3.25em;
  }
  #desc h1 {
    font-size: 3.25em;
    line-height: 1.4;
    margin-right: 0.5em;
  }
  #listView {
    padding-right: 2.5em;
    font-size: 3.25em;
  }
  #project h3 {
    font-size: 1.2em;
  }
  #number {

  }
  #email {

  }
  #resumeBody {

  }
  #resumeBody h1 {

  }
  #back {

  }
  #refs {
    font-size: 0.8em;
  }
  #resume h3 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1400px) {
  #name {
    padding-right: 0.7em;
    font-size: 3.25em;
  }
  #landingPage #desc h1 {
    font-size: 3.25em;
    line-height: 1;
    margin-right: 0.5em;
  }
  #listView {
    padding-right: 2.5em;
    font-size: 3.25em;
  }
  #project h3 {
    font-size: 1.2em;
  }
  #number {
    font-size: 3.25em;
  }
  #email {
    font-size: 3.25em;
  }
  #resumeBody h1 {
    font-size: 3.25em;
  }
  #back {
    font-size: 3.25em;
  }
  #refs {
    font-size: 0.85em;
  }
  #resume h3 {
    font-size: 15px;
  }
  #listViewPage h1 {
    font-size: 3.25em;
  }
  #projectPage h3 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1550px) {
  #name {
    padding-right: 0.7em;
    font-size: 3.5em;
  }
  #landingPage #desc h1 {
    font-size: 3.5em;
    line-height: 1.3;
    margin-right: 0.5em;
  }
  #listView {
    padding-right: 2.5em;
    font-size: 3.5em;
  }
  #project h3 {
    font-size: 1.35em;
  }
  #number {
    font-size: 3.5em;
  }
  #email {
    font-size: 3.5em;
  }
  #resumeBody h1 {
    font-size: 3.5em;
  }
  #back {
    font-size: 3.5em;
  }
  #refs {
    font-size: 0.9em;
  }
  #resume h3 {
    font-size: 18px;
  }
  #listViewPage h1 {
    font-size: 3.5em;
  }
  #projectPage h3 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1550px) and (max-width: 1700px) {
  #name {
    padding-right: 1em;
    font-size: 3.75em;
  }
  #landingPage #desc h1 {
    font-size: 3.75em;
    line-height: 1.20;
    margin-right: 0.5em;
  }
  #listView {
    padding-right: 3em;
    font-size: 3.75em;
  }
  #project h3 {
    font-size: 1.5em;
  }
  #number {
    font-size: 3.75em;
  }
  #email {
    font-size: 3.75em;
  }
  #resumeBody h1 {
    font-size: 3.75em;
  }
  #back {
    font-size: 3.75em;
  }
  #refs {
    font-size: 0.95em;
  }
  #spacer2 {

  }
  #resume h3 {
    font-size: 21px;
  }
  #listViewPage h1 {
    font-size: 3.75em;
  }
  #projectPage h3 {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1800px) {
  #landingPage #desc h1 {
    line-height: 1.15;
    right: 1em;
  }
}
@media only screen and (min-width: 1800px) and (max-width: 1900px) {
  #landingPage #desc h1 {
    line-height: 1.15;
    right: 1.4em;
  }
}
@media only screen and (min-width: 1900px) and (max-width: 2000px) {
  #landingPage #desc h1 {
    line-height: 1.15;
    right: 1.8em;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 2000px) {
  #name {
    padding-right: 2em
  }
  #listView {
    padding-right: 4em
  }
  #landingPage .row {
    margin-right: 0em;
  }
  #number {

  }
  #email {

  }
  #resumeBody h1 {
    margin-right: 2.5em;
  }
  #back {

  }
  #refs {
    font-size: 1em;
  }
  #resume h3 {
    font-size: 24px;
  }
  #listViewPage h1 {
    font-size: 4em;
  }
  #projectPage h3 {
    font-size: 24px;
  }
}
