.scrollme
{

}
.animateme
{
  width:100%;
  transform-origin:center center center;
}

/*  First Pane  */
.intro {

}
.title {

}

/* Planes ScrollMe */
.plane1 {
  position: absolute;
  right: 40%;
}
.plane1 img {
  width: 5%;
}
.plane2 {
  position: absolute;
  left: 15%;
  bottom: 1em;
}
.plane2 img {
  width: 5%;
}
.plane3 {
  position: absolute;
  right: 5%;
  top: 5em;
}
.plane3 img {
  width: 5%;
}
.rocketShip {
  position: absolute;
  left: 30%;
  top: 0em;
}
.rocketShip img {
  width: 5%;
}
.greeting {

}


/* Beaker ScrollMe */
.bubblesBlue {
  position: absolute;
  left: 45em;
}
.bubblesBlue img {
  width: 15%;
}
.beakerBlue {
  position: absolute;
  left: 40em;
}
.beakerBlue img {
  width: 25%;
}
.beakerGreen {
  position: absolute;
  left: 40em;
}
.beakerGreen img {
  width: 25%;
}
.imgLeftLow {
  position: absolute;
  bottom: 0em;
  opacity: 0;
  left: 30em;
}
.imgLeftLow img {
  width: 15%;
}
.imgLeftHigh {
  position: absolute;
  bottom: 15em;
  right: 0em;
  opacity: 0;
  left: 38em;
}
.imgLeftHigh img {
  width: 10%;
}
.imgRightHigh {
  position: absolute;
  bottom: 14em;
  opacity: 0;
  left: 56em;
}
.imgRightHigh img {
  width: 12%;
}
.imgRightLow {
  position: absolute;
  bottom: 0em;
  left: 61em;
  opacity: 0;
}
.imgRightLow img {
  width: 14%;
}
.arrow1 {
  position: absolute;
  bottom: 0.5em;
  left: 40em;
  opacity: 0;
}
.arrow1 img {
  width: 10%;
  transform: rotate(25deg);
}
.arrow2 {
  position: absolute;
  bottom: 10em;
  left: 43em;
  opacity: 0;
}
.arrow2 img {
  width: 10%;
  transform: rotate(60deg);
}
.arrow3 {
  position: absolute;
  bottom: 10em;
  left: 52em;
  opacity: 0;
}
.arrow3 img {
  width: 10%;
  transform: rotate(120deg);
}
.arrow4 {
  position: absolute;
  bottom: 0.5em;
  left: 55em;
  opacity: 0;
}
.arrow4 img {
  width: 10%;
  transform: rotate(155deg);
}
.explosionGreen {
  position: absolute;
  z-index: 2;
  bottom: -22em;
  left: 20em;
  opacity: 0;
}
.explosionGreen img {
  width: 65%;
}
.scienceText {

}

/* Computer Desk */

.desk {
  position: absolute;
  top: 0em;
  z-index: 0;
}
.desk img {
  width: 60%;
}
.dog {
  position: absolute;
  left: 16em;
  top: 38em;
  z-index: 1;
}
.dog img {
  width: 15%;
}
.plant {
  position: absolute;
  right: 44em;
  top: 22em;
  z-index: 1;
}
.plant img {
  width: 30%;
}
.coffeeMug {
  position: absolute;
  left: 5em;
  top: 29.5em;
  z-index: 1;
  opacity: 0;
}
.coffeeMug img {
  width: 5%;
}
.deskText {

}

/* Space Ship */

.stars {
  position: absolute;
}
.stars img {
  width: 20%;
}
.moon1 {
  position: absolute;
}
.moon1 img {
  width: 20%;
}
.rocket {
  position: absolute;
  top: 300px;
}
.rocket img {
  width: 15%;
}
